<div class="card mb-4 shadow-sm">
  <div class="card-header bg-dark border-bottom">
    <h4 class="my-0 font-weight-normal"><%= title %></h4>
  </div>
  <div class="card-body bg-secondary d-flex flex-column">
    <h1 class="card-title font-weight-bold"><%= body %></h1>
  </div>
</div>