<%= stylesheet_link_tag "showroom" %>

<div class="position-relative p-3 p-md-5 m-md-3 text-center bg-dark ">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="text-muted display-4 font-weight-normal">Shhhh...</h1>
    <p class="lead font-weight-normal">Keep your medical info private, but always at your finger tips.</p>
    <p class="font-weight-normal">Whispr - the app to end doctors' waiting room forms, and give your more power over your health.</p>
    <%= link_to 'Sign Up', sign_up_path, class: "btn btn-lg btn-block btn-primary"%>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style="display: inline-block !important;">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="my-3 py-3">
      <h2 class="display-5">Why Whispr?</h2>
      <p class="lead">Your medical info is <i>yours</i>. Period.</p>
      <p class="font-weight-normal">Tired of keeping that folder of vaccination records, allergy documentation and family medical history? Put that information in Whispr, and then throw that folder away. With Whispr, your medical information is always securely accessible from the web. Control what's there and who sees it with just a few button clicks.</p>
    </div>
  </div>
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
    <div class="my-3 p-3">
      <h2 class="display-5">Why Now?</h2>
      <p class="lead">Why not?</p>
      <p class="font-weight-normal">As the world becomes increasingly digital, your medical information is some of the most important information you have. Don't let it languish in an office filing cabinet - put it in Whispr to keep it safe. On top of that, easily track it, update it, and share it with healthcare providers.</p>
    </div>
  </div>
</div>

<%= link_to 'Sign Up', sign_up_path, class: "btn btn-lg btn-block btn-primary"%>
